.conta
.contenedor{
    background-color: rgb(76, 128, 60);
    display: flex;
    padding: 30px;
}
.info-of-us{
    background-color: rgb(26, 118, 180);
}
.send-us{
    background-color: rgb(42, 207, 152);

}

#of-us{
    font-family: Poppins;
    color: rgb(245, 209, 162);
    font-size: 23px;
}
.info{
    font-family: Poppins;
}

