button{
    tarder: 0;
    background-image: linear-gradient(
        150deg,
        #9500ff,
        #09f,
        #00DDFF);
        border-radius: 8px;
        color: #fff;
        display: flex;
        font-size: 14px;
        padding: 4px;
        cursor: pointer;
        transition: .3s;
}
button span{
    background-color: #111;
    padding: 10px 10px;
    border-radius: 5px;
    transition: .3s;
}
button:hover span{
    background: none;
}
button:active{
    transform: scale(0.9);
}
.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
    display: none;
}

.content-select{ max-width: 250px;
position: relative;
}

.content-select select{
display: inline-block;
width: 100%;
cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0; 
  border: 0;
border-radius: 0;
background: #f0f0f0;
color: #7b7b7b;
font-size: 1em;
color: #999;
font-family: 
'Quicksand', sans-serif;
border:2px solid rgba(0,0,0,0.2);
border-radius: 12px;
position: relative;
transition: all 0.25s ease;
}

.content-select select:hover{
background: #B1E8CD;
}

/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
position: absolute;
right: 20px;
top: calc(50% - 13px);
width: 16px;
height: 16px;
display: block;
border-left:4px solid #2AC176;
border-bottom:4px solid #2AC176;
transform: rotate(-45deg); /* Giramos el cuadrado */
transition: all 0.25s ease;
}

.content-select:hover i{
margin-top: 3px;
}
#date-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #date-input {
    padding: 10px;
    font-size: 16px;
  }
  
  #show-date-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #selected-date {
    margin-top: 10px;
    font-weight: bold;
  }
   